p {
    margin-top: -50px;
    font-weight: bold;
    width: 400px;
    margin-left: 600px;
    margin-top: 10px
}

.img-responsive {
    width: 300px;
    margin-left: 100px;
}

h3 {
    color: red;
    margin-left: 600px;
    margin-top: -270px;

}

hr {
    width:400px;
    color: black;
    margin-left:70
}

.Vision {
    
}



.Message {
    
}

.text-capitalize {
    margin-left: -1px;
    margin-top: -20px;
}

.Principal {
    color: red;
}

iframe {
    width: 500px;
    height: 400px;
    margin-top:-200px;
    margin-left: 50px;
    
}

.Video {
    margin-top:
}

.Map 
}

.CampusLifeLabel {
    margin-left: 50px;
}

#Campus {
    margin-left: 50px;
}

.LibraryImage {
    
}

.SchoolLibrary {
    margin-left: 170px;
    margin-top:10px;
}

h5 {
    margin-left:100px;
}

.text-success {
    margin-left: 170px;
    margin-top: 10px;
}

.text-muted {
    margin-left:70px;
}

.CafeImage {
    margin-left: 500px;
    margin-top: -360px;
    width: 300px;

}

.SchoolCafe {
    margin-left: 580px;
    margin-top: -150
}

.CafeStuff {
    margin-left:560px;
    color: green;
    margin-top:-5
}

.CafePar {
    margin-left: 470px;
    
}

.CafePare {
    color: gray;
    margin-left: 480
}
